@font-face {
	font-family: "AppleII";
	src: url("fonts/AppleII.ttf");
}

html, body {
	padding: 0;
	margin: 0;
}
body {
	display: flex;
	flex-direction: column;
	background: #110800; /* #221811; */
	color: #fff;
	font-family: Courier;
	text-align: center;
}

#page {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	height: 100vh;
}

.main-header {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.version {
	font-size: 60%;
	opacity: 0.6;
}

.game {
	display: flex;
	flex-grow: 2;
	flex-direction: row;
	width: 90%;
	min-width: 60em;
	min-height: 20em;
	margin: 0 auto;
	padding: 1em;
	background-color: #5252FF;
	border-radius: 1em;
	box-shadow: 0 1em 1em rgba(0,0,0,0.2);
	font-family: "AppleII", monospace;
}

.controller {
	flex-grow: 2;
}

.main-footer {
	flex-grow: 1;
}

.scripts {
	display: none;
}


/* ---- Game ---- */

.game-world {
	margin-right: 1em;
	border: solid 4px #999;
	background: #222;
	flex-shrink: 1;
	overflow: hidden;
}
.game-world canvas {
	background: #000;
}

.game-interface {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	text-align: left;
}

.interface-box {
	border: solid 4px #999;
	background: #000;
}

.stats {
	margin-bottom: 1em;
	flex-grow: 10;
}
.quick-stats {
	margin-bottom: 1em;
	flex-grow: 1;
}
.output {
	flex-grow: 10;
}
.input {
	border-top: 0;	
}

/* Chat */

.chat-sender {
	display: inline-block;
	font-size: 70%;
	font-weight: bold;
	margin: 0.5em 0;
}
.chat-sender::after {
	content: ":";
	display: inline-block;
	margin-right: 0.5em;
}
.chat-message {
	margin-bottom: 0.5em;
}
#chat-input {
	padding: 0.5em;
}
#chat-input:focus::before {
	content: ">";
	display: inline-block;
}


/* game temp */

#map span {
	font-family: 'Courier New', monospace;
	font-size: 0.5rem;
	display: inline-block;
	/* width: 1em; */
	text-align: center;
	cursor: pointer;
	background: rgba(0,0,0,0.2);
}
#map span:hover {
	background: rgba(255,255,0, 0.3);
}
